<span class="full greyed fullWidth">
    <md-toolbar style="position:fixed" md-theme="lightTheme" class="fullWidth md-whiteframe-z2">
        <div class="md-toolbar-tools" layout="row">
            <md-button aria-label="openMenu"class="md-icon-button">
                <md-icon md-svg-src="modules/accounts/img/svg/ic_arrow_back.svg"></md-icon>
            </md-button>
            Manage Finances
            <span flex></span>
            <md-button aria-label="openMenu"class="md-icon-button">
                <md-icon md-svg-src="modules/accounts/img/svg/ic_more_vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="greyed full">
        <md-card class="topPadded70 padded10">
            <h3>Manage Finances</h3>
            <div layout="column" class="padded10">
                <div class="leftPadded md-whiteframe-z2 greyHover" layout="row">
                    <label class="padded10" layout="column">
                        <h4>
                            <md-icon class="blackText" style="height:30px;width:30px" md-svg-src="modules/accounts/img/svg/ic_credit_card.svg"></md-icon>
                            Expenditure
                        </h4>
                    </label>
                </div>
                <md-divider></md-divider>
                <div class="leftPadded md-whiteframe-z2 greyHover" layout="row">
                    
                    <label class="padded10" layout="column">
                        <h4>
                            <md-icon class="blackText" style="height:30px;width:30px" md-svg-src="modules/accounts/img/svg/ic_account_balance_wallet_48px.svg"></md-icon>
                            Earnings
                        </h4>
                    </label>
                </div>
                <div class="leftPadded md-whiteframe-z2 greyHover" layout="row">
                    <label class="padded10" layout="column">
                        <h4>
                            <md-icon class="blackText" style="height:30px;width:30px" md-svg-src="modules/accounts/img/svg/ic_trending_down.svg"></md-icon>
                            Burn Rate
                        </h4>
                    </label>
                </div>
                <div class="leftPadded md-whiteframe-z2 greyHover" layout="row">
                    <label class="padded10" layout="column">
                        <h4>
                            <md-icon class="blackText" style="height:30px;width:30px" md-svg-src="modules/accounts/img/svg/ic_trending_up.svg"></md-icon>
                            Growth Rate
                        </h4>
                    </label>
                </div>
            </div>
        
            <div class="padded20" layout="column">
                <h4> <md-icon md-svg-src="modules/accounts/img/svg/ic_help_outline.svg" class="redText" style="height:30px;width:30px"></md-icon>Self Help</h4>
                <md-divider></md-divider>
                <div layout="row" class="padded10">
                    <md-icon md-svg-src="modules/accounts/img/svg/ic_description.svg" class="tealText" style="height:25px;width:25px"></md-icon>
                    <label class="autopadded" style="font-size:16px"> Startup Management Concepts</label>
                        <span flex></span>
                        <md-button ng-click="gotoStage('stage1')" class="md-icon-button" ng-hide="showStage1">
                            <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_more_48px.svg" class="blueText" style="height:25px;width:25px"></md-icon>
                        </md-button>
                        <md-button ng-click="showStage1=false" class="md-icon-button" ng-show="showStage1">
                            <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_less_48px.svg" class="redText" style="height:25px;width:25px"></md-icon>
                        </md-button>
                </div>
                <md-divider></md-divider>
                <div layout="row" class="padded10">
                    <md-icon md-svg-src="modules/accounts/img/svg/ic_description.svg" class="tealText" style="height:25px;width:25px"></md-icon>
                    <label class="autopadded" style="font-size:16px"> Who to do what?</label>
                        <span flex></span>
                        <md-button ng-click="gotoStage('stage1')" class="md-icon-button" ng-hide="showStage1">
                            <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_more_48px.svg" class="blueText" style="height:25px;width:25px"></md-icon>
                        </md-button>
                        <md-button ng-click="showStage1=false" class="md-icon-button" ng-show="showStage1">
                            <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_less_48px.svg" class="redText" style="height:25px;width:25px"></md-icon>
                        </md-button>
                    </div>
                <md-divider></md-divider>
                <div layout="row" class="padded10">
                    <md-icon md-svg-src="modules/accounts/img/svg/ic_description.svg" class="tealText" style="height:25px;width:25px"></md-icon>
                    <label class="autopadded" style="font-size:16px"> Matters arising</label>
                        <span flex></span>
                        <md-button ng-click="gotoStage('stage1')" class="md-icon-button" ng-hide="showStage1">
                            <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_more_48px.svg" class="blueText" style="height:25px;width:25px"></md-icon>
                        </md-button>
                        <md-button ng-click="showStage1=false" class="md-icon-button" ng-show="showStage1">
                            <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_less_48px.svg" class="redText" style="height:25px;width:25px"></md-icon>
                        </md-button>
                    </div>
                <md-divider></md-divider>
            </div>
        </md-card>
    </md-content>
</span> 