<span class="full greyed fullWidth">
    <md-toolbar style="position:fixed" md-theme="lightTheme" class="fullWidth md-whiteframe-z2">
        <div class="md-toolbar-tools" layout="row">
            <md-button aria-label="openMenu"class="md-icon-button" ng-click="goto('startup.dashboard')">
                <md-icon md-svg-src="modules/accounts/img/svg/ic_arrow_back.svg"></md-icon>
            </md-button>
            About Us
        </div>
    </md-toolbar>
    <md-content class="greyed full">
        <md-card class="topPadded70 padded10 md-whiteframe-z2">
            <h3>About Us</h3>

        </md-card>
    </md-content>
    <div class="footer whiteBG md-whiteframe-z2 padded10" layout="column">
        <div class="autopadded" layout="row">
            <md-button class="md-icon-button" >f</md-icon></md-button>
            <md-button class="md-icon-button" >t</md-button>
            <md-button class="md-icon-button" >ig</md-button>
        </div>
    </div>    
</span> 