<span class="full greyed fullWidth">
    <md-toolbar style="position:fixed" class="fullWidth">
        <div class="md-toolbar-tools" layout="row">
            <md-button aria-label="openMenu"class="md-icon-button" ng-click="goto('login')">
                <md-icon md-svg-src="modules/accounts/img/svg/ic_arrow_back.svg"></md-icon>
            </md-button>
            Change Password
            <span flex></span>
            <md-button aria-label="openMenu"class="md-icon-button">
                <md-icon md-svg-src="modules/accounts/img/svg/ic_more_vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="greyed full">
        <br/>
        <md-card class="width40 centered topPadded70 padded10" ng-hide="verifiedToken">
            <span layout="row">
                <h4 class="autopadded">A token was sent  to <label class="blueText">{{user_email}}</label></h4>
                <span flex></span>
                <md-button class="md-raised autopadded" ng-click="reSendEmail()" ng-hide="processing">RESEND <md-icon md-svg-src="modules/accounts/img/svg/ic_mail.svg" class="name"></md-icon></md-button>
                <md-progress-circular md-diameter="20" ng-show="processing"></md-progress-circular>
            </span>
            <div class="padded10" layout="column">
                <div>
                    <form name="changepassword" ng-submit="verifyToken()">
                        <md-input-container class="md-icon-float" flex>
                            <label>Enter Token</label>
                            <md-icon md-svg-src="modules/accounts/img/svg/ic_key.svg" class="name"></md-icon>
                            <input ng-model="passwordchange.token" class="bigText" style="font-size:25px; font-weight:bold" type="text" required>            
                        </md-input-container>
                        <span flex layout="row">
                            <span flex></span>
                            <md-button class="md-fab">
                                <md-icon md-svg-src="modules/accounts/img/svg/ic_check_48px.svg" class="name"></md-icon>
                            </md-button>
                        </span>
                    </form>
                </div>
            </div>
        </md-card>
        
        <md-card class="width40 centered topPadded70 padded20" ng-show="verifiedToken">
            <div ng-hide="changingPassword">
                <h3>Enter new password</h3>
                <form name="changepassword" ng-submit="changePassword()" class="padded20">
                    <md-input-container class="md-icon-float" flex>
                        <label>New password</label>
                        <md-icon md-svg-src="modules/accounts/img/svg/ic_lock.svg" class="name"></md-icon>
                        <input ng-model="passwordchange.password" class="bigText" style="font-size:25px; font-weight:bold" type="password" required>          
                    </md-input-container>
                    <md-input-container class="md-icon-float" flex>
                        <label>Confirm password</label>
                        <md-icon md-svg-src="modules/accounts/img/svg/ic_lock.svg" class="name"></md-icon>
                        <input ng-model="passwordchange.cpassword" class="bigText" style="font-size:25px; font-weight:bold" type="password" required>          
                    </md-input-container>
                    <span flex layout="row">
                        <span flex></span>
                        <md-button class="md-accent md-raised">
                            Update
                        </md-button>
                    </span>
                </form>
            </div>
            <div layout="row" class="centered" ng-show="changingPassword">
                <md-progress-circular class="md-accent"></md-progress-circular>

                <div style="padding:20px;padding-top:40px">Updating Password</div>                
            </div>
        </md-card>
    </md-content>
</span> 