<span ng-controller="ForgotPasswordController" class="padded20" layout="column">
    <div ng-hide="processing">
        <label class="antialized"><big><big><big><b>Forgot Password?</b></big></big></big></label>
        <br/>
        <br/>
        <h5>{{uber}}</h5>
        <form name="signupForm" ng-submit="sendEmail()">
            <md-input-container class="md-icon-float">
                <label>Enter your email address</label>
                <md-icon md-svg-src="modules/accounts/img/svg/ic_mail.svg" class="name"></md-icon>
                <input name="email" type="email" required ng-model="userEmail">                    
            </md-input-container> 

            <label class="text-muted">
                <small>A mail will be sent to your email address containing how to retrieve your password</small>
            </label>
            <br/>
            <md-button ng-show="showButton" class="md-raised md-accent right-float">Send Email</md-button>
        </form>
    </div>
    <div layout="row" ng-show="processing">
        <md-progress-circular md-mode="indeterminate" class="md-accent" ></md-progress-circular>
        <div style="padding:20px;padding-top:40px">Attempting to send mail</div>
    </div>
</span>