<span layout="column" flex class="topPadded full">
                <md-card class="padded10 noBottomMargin purpleBG" layout="column">
                    <h3 class="whiteText">
                        My Roles
                    </h3>
                </md-card>
            <div flex layout="row" layout-sm="column">
                <md-card flex flex-order="1" class="noTopMargin padded10">
                    <center>
                        <span layout="row" class="centered" flex><h4>Startupia <small class="text-muted"> [Tech Company]</small></h4></span>
                        <img src="modules/accounts/img/material/bgiii.png" class="squareImage150"/>
                    </center> 
                    <span layout="column" class="leftPadded topAndBottomPadded">
                        <span layout="row">
                            <label class="topAndBottomPadded blueText"><big>CEO <label class="text-muted"><small>(5 duties)</small></label></big></label>
                            <span flex></span>
                            <md-button class="md-icon-button">
                                <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_more_48px.svg"></md-icon>
                            </md-button>
                        </span>
                    </span>
                </md-card>
                <md-card flex flex-order="2" class="noTopMargin padded10">
                    <center>
                        <span layout="row" class="autopadded" ><h4>Startupia <small class="text-muted"> [Tech Company]</small></h4></span>
                        <img src="modules/accounts/img/material/bgiii.png" class="squareImage150"/>
                    </center> 
                    <span layout="column" class="leftPadded topAndBottomPadded">
                        <span layout="row">
                            <label class="topAndBottomPadded blueText"><big>COO <label class="text-muted"><small>(5 duties)</small></label></big></label>
                            <span flex></span>
                            <md-button class="md-icon-button">
                                <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_more_48px.svg"></md-icon>
                            </md-button>
                        </span>
                    </span>            
                </md-card>
                <md-card flex flex-order="3" class="noTopMargin padded10">
                    <center>
                        <span layout="row" class="centered" flex><h4>Startupia <small class="text-muted"> [Tech Company]</small></h4></span>
                        <img src="modules/accounts/img/material/bgiii.png" class="squareImage150"/>
                    </center> 
                    <span layout="column" class="leftPadded topAndBottomPadded">
                        <span layout="row">
                            <label class="topAndBottomPadded blueText"><big>CTO <label class="text-muted"><small>(5 duties)</small></label></big></label>
                            <span flex></span>
                            <md-button class="md-icon-button">
                                <md-icon md-svg-src="modules/accounts/img/svg/ic_expand_more_48px.svg"></md-icon>
                            </md-button>
                        </span>
                    </span>             
                </md-card>
            </div>                
        </span>       
            