<span layout="column" flex class="topPadded full" ng-hide="hideStartUps">
    <md-card class="padded10 noBottomMargin purpleBG" layout="column">
        <h3 class="whiteText">
            My Startups
        </h3>
    </md-card>
    <md-card class="padded10 noTopMargin" layout="row">
        <img src="modules/accounts/img/material/bgiii.png" class="squareImage100"/>
        <span layout="column" class="leftPadded topAndBottomPadded">
            <span layout="row"><h3>Startupia <small class="text-muted"> [Fashion Company]</small></h3></span>
            <label>CEO, <label class="blueText">50%</label></label>
            <label>
                Health: <label class="redText redBG md-whiteframe-z2">baba</label> 
                <small><small><label class="text-muted"><small>LAST UPDATED:</small> 25th february 2017</label></small></small>
            </label>
        </span>
    </md-card>                
</span>
            