<span layout="column" flex class="topPadded full">
                <md-card class="padded10 noBottomMargin purpleBG" layout="column">
                    <h3 class="whiteText">
                        My Tasks
                    </h3>
                </md-card>
                <md-card class="padded10 noTopMargin" layout="column">
                    [manage]
                    <div class="padded10">
                        <md-icon md-svg-src="modules/accounts/img/svg/ic_visibility.svg" class="squareImage50 redText"></md-icon>
                        <big><big><big>Startupia Product Development... <small>Startupia</small> </big></big></big>
                        <span flex></span>
                    </div>
                </md-card>                
                <md-card class="padded10 noTopMargin" layout="column">
                    [write]
                    <div class="padded10">
                        <md-icon md-svg-src="modules/accounts/img/svg/ic_description.svg" class="squareImage50 tealText"></md-icon>
                        <big><big><big>Feasibility Study... <small>Startupia</small></big></big></big>
                        <label class="text-muted">[Update?]</label>
                    </div>
                </md-card>
                <md-card class="padded10 noTopMargin" layout="column">
                    [write]
                    <div class="padded10">
                        <md-icon md-svg-src="modules/accounts/img/svg/ic_description.svg" class="squareImage50 blueText"></md-icon>
                        <big><big><big>Go to Market Strategy... <small>Startupia</small></big></big></big>
                        <label class="text-muted">[Update?]</label>
                    </div>
                </md-card>
                <md-card class="padded10 noTopMargin" layout="column">
                    [write]
                    <div class="padded10">
                        <md-icon md-svg-src="modules/accounts/img/svg/ic_description.svg" class="squareImage50 purpleText"></md-icon>
                        <big><big><big>Feasibility Study... <small>Startupia</small></big></big></big>
                        <label class="text-muted">[Update?]</label>
                    </div>
                </md-card>
</span>  